html, body{
    height:100%;
}
body{
    display:flex;
    flex-direction: column;
    font-family:fantasy;
}


.title{
    text-align: center;
    border: 5px outset salmon;
    background-color: lightcoral;
    padding : 10px;
    height : 30vh;
}
.title div{
    font-size : 26px;
}

.wins{
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size:30px;
    height:10vh;
    background-color:rgb(236, 117, 53);
}

.textBox,.newButtons{
    height : 25vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:35px;
    padding: 20px;
    border-style:double;
    border-color:black;
    border-radius:3px;
    border-width:10px;
}

.textBox{
    white-space : pre-line;
    text-align:center;
}





.buttons{ 
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    padding:10px;
    background-color:rgb(236, 117, 53);
}
.buttons button{
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    
    font-size : 30px;
    font-weight: bold;


    height:200px;
    width:200px;
    padding: 15px;
}

.buttons button:hover{
    background-color: rgb(207, 95, 117);
    cursor:pointer;  
}

.won{
    background-color:rgb(48, 255, 6);
}
.lost{
    background-color: red;
}

.new{
    display:flex;
    justify-content:center;
    padding:15px;
    width:200px;    
    font-size:35px;
}

.new:hover{
    background-color: rgb(207, 95, 117);
    cursor:pointer;  
}
